*{
    font-family: 'KoHo';
}
.barra-izquierda{
    width: 185px;
    height: 800px;
    background: #ffff;
    position: relative;
    top: -20px;
    right: 8px;
    border-radius: 20px;

}
.imag-logo{
    text-align: center;
    width:100px;
    height: 100px;
    border-radius: 120px;
    padding: 10px;
    position: relative;
    left: 32px;
    top: 20px;
}
.logo2{
    position: relative;
    bottom: 7px;
    float: center;
    margin: auto;
    border-radius: 20px;
    width: 90px;
}
.linea{
    position: relative;
    left: 32px;
    top: -20px;
    background: #707070;
    width: 120px;
    height: 1px;
}
.servicios{
    text-align: center;
    font-size: 22px;
    position: relative;
    top: -38px;
    left: 0px;
}

.diseño-grafico{
    position: relative;
    left: 10px;
    bottom: 40px;
    font-size: 21px;
    text-align: center;
    background: #A20C0C;
    border-radius: 15px;
    color: #ffff;
    width: 155px;
    height: 40px;
    cursor: pointer;
    text-align: center;
    transition: 0.4s;
}

.diseño-grafico:hover{
background: #343434;
}

.publicidad{
    position: relative;
    left: 10px;
    bottom: 40px;
    font-size: 22px;
    text-align: center;
    background: #750c0c;
    border-radius: 15px;
    color: #ffff;
    width: 155px;
    height: 40px;
    cursor: pointer;
    transition: 0.4s;
}

.publicidad:hover{
    background: #343434;;
    }

.Registros{
    position: relative;
    left: 10px;
    bottom: 40px;
    font-size: 21px;
    text-align: center;
    background: #A20C0C;
    border-radius: 15px;
    color: #ffff;
    width: 155px;
    height: 40px;
    cursor: pointer;
    transition: 0.4s;
}
.Registros:hover{
    background: #343434;
    }

.pagina-wed{
    position: relative;
    left: 10px;
    bottom: 40px;
    font-size: 21px;
    text-align: center;
    background: #750c0c;
    border-radius: 15px;
    color: #ffff;
    width: 155px;
    height: 40px;
    cursor: pointer;
    transition: 0.4s;
}
.pagina-wed:hover{
    background: #343434;
    }

.plataformas{
    position: relative;
    left: 10px;
    bottom: 40px;
    font-size: 21px;
    text-align: center;
    background: #A20C0C;
    border-radius: 15px;
    color: #ffff;
    width: 155px;
    height: 40px;
    cursor: pointer;
    transition: 0.4s;
}
.plataformas:hover{
    background: #343434;
    }

.controles{
    position: relative;
    left: 10px;
    bottom: 40px;
    font-size: 21px;
    text-align: center;
    background: #750c0c;
    border-radius: 15px;
    color: #ffff;
    width: 155px;
    height: 40px;
    cursor: pointer;
    transition: 0.4s;
}
.controles:hover{
    background: #343434;
    }

.Seguridad{
    position: relative;
    left: 10px;
    bottom: 40px;
    font-size: 21px;
    text-align: center;
    background: #A20C0C;
    border-radius: 15px;
    color: #ffff;
    width: 155px;
    height: 40px;
    cursor: pointer;
    transition: 0.4s;
}
.Seguridad:hover{
    background: #343434;
    }

.articulo de cuerpo{
    border: 3px solid #0000;
}


